<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:component-scan base-package="com.xyp"/>

    <context:annotation-config/>
    

    <!--<bean id="madsRemoteInvoker" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">-->
        <!--<property name="serviceUrl" value="${mads.remote.url}"/>-->
        <!--<property name="serviceInterface" value="com.derbysoft.dplatform.marriott.ws.remote.MADSRemoteService"/>-->
    <!--</bean>-->
    <!--&lt;!&ndash; GoogleCheckServiceImpl &ndash;&gt;-->
    <!--<bean id="carlsonGoogleCheckService" class="com.xyp.rateCompare.service.GoogleQualityCheckServiceImpl">-->
        <!--<property name="serviceUrl" value="${dh.google.service.url}" />-->
    <!--</bean>-->

    <!--<bean id="helloworldGoogleCheckService" class="com.xyp.rateCompare.service.GoogleQualityCheckServiceImpl">-->
        <!--<property name="serviceUrl" value="${helloworld.google.service.url}" />-->
    <!--</bean>-->
    <!--<bean id="hyattGoogleCheckService" class="com.xyp.rateCompare.service.GoogleQualityCheckServiceImpl">-->
        <!--<property name="serviceUrl" value="${hyatt.google.service.url}"/>-->
    <!--</bean>-->
    <!--<bean id="hiltonGoogleCheckService" class="com.xyp.rateCompare.service.GoogleQualityCheckServiceImpl">-->
        <!--<property name="serviceUrl" value="${hilton.google.service.url}"/>-->
    <!--</bean>-->
    <!--<bean id="marriottGoogleCheckService" class="com.xyp.rateCompare.service.GoogleQualityCheckServiceImpl">-->
        <!--<property name="serviceUrl" value="${marriott.google.service.url}" />-->
    <!--</bean>-->
    <!--<bean id="trustGoogleCheckService" class="com.xyp.rateCompare.service.GoogleQualityCheckServiceImpl">-->
        <!--<property name="serviceUrl" value="${trust.google.service.url}" />-->
    <!--</bean>-->
    <!--<bean id="dhGeneralGoogleCheckService" class="com.xyp.rateCompare.service.GoogleQualityCheckServiceImpl">-->
        <!--<property name="serviceUrl" value="${dh.google.service.url}" />-->
    <!--</bean>-->
    <!--<bean id="googleRateCheckService" class="com.xyp.rateCompare.service.GoogleCheckServiceImpl" >-->
        <!--<property name="dhGoogleCheckService" ref="carlsonGoogleCheckService" />-->
        <!--<property name="helloworldGoogleCheckService" ref="helloworldGoogleCheckService" />-->
        <!--<property name="hyattGoogleCheckService" ref="hyattGoogleCheckService" />-->
        <!--<property name="hiltonCheckService" ref="hiltonGoogleCheckService" />-->
        <!--<property name="marriottGoogleCheckService" ref="marriottGoogleCheckService" />-->
        <!--<property name="trustGoogleCheckService"  ref="trustGoogleCheckService" />-->
        <!--<property name="dhGeneralGoogleCheckService"  ref="dhGeneralGoogleCheckService" />-->
    <!--</bean>-->

    <bean id="PushXML" class="com.xyp.database.service.DataServices" scope="singleton"/>



    <!--<bean id="multipartResolver"-->
          <!--class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
        <!--&lt;!&ndash; 设置上传文件的最大尺寸为1MB &ndash;&gt;-->
        <!--<property name="maxUploadSize">-->
            <!--<value>1048576</value>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">-->
        <!--<property name="persistenceUnitName" value="defaultPersistenceUnit"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; 事务管理 &ndash;&gt;-->
    <!--<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">-->
        <!--<property name="entityManagerFactory" ref="entityManagerFactory"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; 开启事务管理注解 &ndash;&gt;-->
    <!--<tx:annotation-driven transaction-manager="transactionManager"/>-->

</beans>
